.rate__container {
  width: max-content;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  padding: 4rem 4rem;
  border-radius: 1rem;
  position: relative;
}

.rate__h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.rate__btn {
  margin-top: 2rem;
  width: 100%;
  border: none;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
}

.rate__btn.active {
  background-color: black;
  color: #ffda00;
}

.rate__btn.disabled {
  background-color: rgb(164 160 160);
  cursor: not-allowed;
  color: black;
}

.rate__btn.disabled:hover {
  background-color: rgb(164 160 160);
}

.rate__btn.active:hover {
  color: black;
  background-color: #ffda00;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 5%;
  right: 5%;
}
