* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 1rem;
}

/* body::-webkit-scrollbar-track {
} */

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 0.5rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

.appContainer {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 128, 128, 0.267) 0%,
      rgba(51, 51, 51, 0.219) 100%
    ),
    url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem auto;
}
